<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BitIt Club</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/bootstrap-datetimepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/bootswatch.min.css}"/>
    <link rel="stylesheet" href="http://js.arcgis.com/3.10/js/esri/css/esri.css"/>
    <script src="http://js.arcgis.com/3.10/"></script>
    <script>
    </script>
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">

        <div class="navbar-header pull-left">
            <form class="navbar-form" action="https://twitter.com/search">
                <input name="q" type="text" class="form-control" placeholder="Search" value="#bumit "/>
            </form>
        </div>

        <div class="navbar-header" style="width: 50%; padding-left: 20%">
            <a class="brand" href="home.html" th:href="@{/}"><img class="img-responsive"
                                                                  src="../static/icons/bumit-logo-1.png"
                                                                  th:src="@{/icons/bumit-logo-1.png}"
                                                                  alt="BumIt Club"
                                                                  style="height: 50px; margin-top: 5px;"> </img></a>
        </div>

        <div class="navbar-form pull-right" style="paddint-top: 2px;">
            <a class="brand" href="home.html" th:href="@{/login}">
                <img th:src="@{/icons/sign-in.png}" style="height:38px;"/>
            </a>
        </div>

    </div>
</div>


<div class="container" style="padding-top: 75px;">

    <div class="row">

        <h4>Looking for a <span th:text="${#strings.replace(status.text,'#bumit','')}"></span></h4>


        <form id="simplify-payment-form" role="form" method="post" action="/bumit">
            <input type='hidden' class="form-control" name="statusId" th:value="${status.id}"/>

            <div class="form-group">
                <label for="datetimepicker1">Time</label>

                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name="time"/>
                    <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <script>
                    setTimeout(function () {
                        $('#datetimepicker1').datetimepicker();
                    }, 1000)</script>
            </div>
            <div class="form-group">
                <label for="duration">Duration</label>
                <input type="text" class="form-control" id="duration" name="duration" placeholder="2 hours"/>
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" name="price" placeholder="$5"/>
            </div>

            <div>
                <label>Credit Card Number: </label>
                <input id="cc-number" type="text" maxlength="20" autocomplete="off" value="" autofocus="true"/>
            </div>
            <div>
                <label>CVC: </label>
                <input id="cc-cvc" type="text" maxlength="4" autocomplete="off" value=""/>
            </div>
            <div>
                <label>Expiry Date: </label>
                <select id="cc-exp-month">
                    <option value="01">Jan</option>
                    <option value="02">Feb</option>
                    <option value="03">Mar</option>
                    <option value="04">Apr</option>
                    <option value="05">May</option>
                    <option value="06">Jun</option>
                    <option value="07">Jul</option>
                    <option value="08">Aug</option>
                    <option value="09">Sep</option>
                    <option value="10">Oct</option>
                    <option value="11">Nov</option>
                    <option value="12">Dec</option>
                </select>
                <select id="cc-exp-year">
                    <option value="13">2013</option>
                    <option value="14">2014</option>
                    <option value="15">2015</option>
                    <option value="16">2016</option>
                    <option value="17">2017</option>
                    <option value="18">2018</option>
                    <option value="19">2019</option>
                    <option value="20">2020</option>
                    <option value="21">2021</option>
                    <option value="22">2022</option>
                </select>
            </div>
            <button id="process-payment-btn" type="submit" class="btn btn-primary btn-block btn-contrast"
                    style="background-color: #30D1BE;">Process Payment
            </button>
        </form>
    </div>
    <hr/>

    <footer>
        <p>&copy; <a href="https://twitter.com/bumitclub">BumIt Club</a> for <a
                href="http://techcrunch.com/events/disrupt-sf-hackathon-2014/">TechCrunch Disrupt SF 2014 Hackathon</a>
        </p>
    </footer>
</div>
<!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/moment.min.js}"></script>
<script th:src="@{/js/bootstrap-datetimepicker.js}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
</body>

<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function () {
        $("#simplify-payment-form").on("submit", function () {
            // Disable the submit button
            $("#process-payment-btn").attr("disabled", "disabled");
            // Generate a card token &amp; handle the response
            SimplifyCommerce.generateToken({
                key: "sbpb_OGY5OGZiYjEtMjMyZC00MGVlLWI0OGQtZThiNjM1OGMwYmZk",
                card: {
                    number: $("#cc-number").val(),
                    cvc: $("#cc-cvc").val(),
                    expMonth: $("#cc-exp-month").val(),
                    expYear: $("#cc-exp-year").val()
                }
            }, simplifyResponseHandler);
            // Prevent the form from submitting
            return false;
        });
    });

    function simplifyResponseHandler(data) {
        var $paymentForm = $("#simplify-payment-form");
        // Remove all previous errors
        $(".error").remove();
        // Check for errors
        if (data.error) {
            // Show any validation errors
            if (data.error.code == "validation") {
                var fieldErrors = data.error.fieldErrors,
                        fieldErrorsLength = fieldErrors.length,
                        errorList = "";
                for (var i = 0; i < fieldErrorsLength; i++) {
                    errorList += "<div class='error'>Field: '" + fieldErrors[i].field +
                            "' is invalid - " + fieldErrors[i].message + "</div>";
                }
                // Display the errors
                $paymentForm.after(errorList);
            }
            // Re-enable the submit button
            $("#process-payment-btn").removeAttr("disabled");
        } else {
            // The token contains id, last4, and card type
            var token = data["id"];
            // Insert the token into the form so it gets submitted to the server
            $paymentForm.append("<input type='hidden' name='simplifyToken' value='" + token + "' />");
            // Submit the form to the server
            $paymentForm.get(0).submit();
        }
    }
    /*]]>*/
</script>

</html>