<rss version="2.0"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:georss="http://www.georss.org/georss"
     xmlns:gml="http://www.opengis.net/gml"
     xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#"
     xmlns:kml="http://www.opengis.net/kml/2.2"
     xmlns:dc="http://purl.org/dc/elements/1.1/">
    <channel><title>bumit item RSS</title>

        <item th:each="tweet:${items}">
            <title th:text="${tweet.text}">Text</title>
            <description th:text="${tweet.name}">Name</description>
            <georss:point th:text="${tweet.latitude} + ' ' + ${tweet.longitude}">37.774929 -122.419416</georss:point>
        </item>

    </channel>
</rss>