<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="apple-mobile-web-app-capable" content="yes"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"></meta>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"></meta>
    <meta name="description" content="A cloud platform that simplifies your life while interacting with smart
        devices around us like thermostats, plugs and activity trackers"></meta>

    <title>Sign In</title>

    <link rel="shortcut icon" th:href="@{img/favicon.png}"></link>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/bootswatch.min.css}"/>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.3.0.3.css}" href="../static/css/bootstrap.3.0.3.css"></link>
</head>

<body onload="document.f.username.focus();"  style="background-color: #f6f6f6">

<div class="container">
    <div class="row">
        <div class="col-md-12" style="height: 140px;">&nbsp;</div>
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">

            <form name="form" action="/login" method="POST" class="form-signin">
                <h2 class="form-signin-heading">Please sign in or create a new account</h2>

                <p th:if="${param.logout}" class="alert alert-info" role="alert">You have been logged out.</p>

                <p th:if="${param.error}" class="alert alert-danger" role="alert">Username or password is
                    incorrect. <br/> Please try again.</p>

                <input type="text" id="email" name="username" value="" class="form-control input-lg"
                       placeholder="Your Email" required="on" autofocus="on"></input>
                <input type="password" class="form-control" name="password" placeholder="Password"
                       required="on"></input>
                <button type="submit" id="login" value="Login" class="btn btn-primary btn-block btn-contrast" style="background-color: #30D1BE;">
                    Log in
                </button>

            </form>
        </div>
    </div>

</div>

<!-- Javascript -->
<script src="../static/js/jquery-1.11.0.min.js" th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script src="../static/js/bootstrap.3.1.1.min.js" th:src="@{/js/bootstrap.3.1.1.min.js}"></script>

</body>
</html>

