<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="apple-mobile-web-app-capable" content="yes"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"></meta>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"></meta>
    <meta name="description" content="A cloud platform that simplifies your life while interacting with smart
        devices around us like thermostats, plugs and activity trackers"></meta>

    <title>BumIt Club - Payment</title>

    <link rel="shortcut icon" th:href="@{img/favicon.png}"></link>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" media="screen"/>
    <link rel="stylesheet" th:href="@{/css/bootswatch.min.css}"/>

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.3.0.3.css}" href="../static/css/bootstrap.3.0.3.css"></link>

</head>

<body onload="document.f.username.focus();" style="background-color: #f6f6f6">

<div class="container">
    <div class="row">
        <div class="col-md-12" style="height: 140px;">&nbsp;</div>
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <h2 class="form-signin-heading">Please fill in the payment details</h2>

            <form id="simplify-payment-form" action="" method="POST" class="form-signin">
                <div>
                    <label>Credit Card Number: </label>
                    <input id="cc-number" type="text" maxlength="20" autocomplete="off" value="" autofocus="true"/>
                </div>
                <div>
                    <label>CVC: </label>
                    <input id="cc-cvc" type="text" maxlength="4" autocomplete="off" value=""/>
                </div>
                <div>
                    <label>Expiry Date: </label>
                    <select id="cc-exp-month">
                        <option value="01">Jan</option>
                        <option value="02">Feb</option>
                        <option value="03">Mar</option>
                        <option value="04">Apr</option>
                        <option value="05">May</option>
                        <option value="06">Jun</option>
                        <option value="07">Jul</option>
                        <option value="08">Aug</option>
                        <option value="09">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                    </select>
                    <select id="cc-exp-year">
                        <option value="13">2013</option>
                        <option value="14">2014</option>
                        <option value="15">2015</option>
                        <option value="16">2016</option>
                        <option value="17">2017</option>
                        <option value="18">2018</option>
                        <option value="19">2019</option>
                        <option value="20">2020</option>
                        <option value="21">2021</option>
                        <option value="22">2022</option>
                    </select>
                </div>
                <button id="process-payment-btn" type="submit" class="btn btn-primary btn-block btn-contrast"
                        style="background-color: #30D1BE;">Process Payment
                </button>
            </form>
        </div>
    </div>

</div>

<!-- Javascript -->
<!--<script src="../static/js/jquery-1.11.0.min.js" th:src="@{/js/jquery-1.11.0.min.js}"></script>-->
<script src="../static/js/bootstrap.3.1.1.min.js" th:src="@{/js/bootstrap.3.1.1.min.js}"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://www.simplify.com/commerce/v1/simplify.js"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    $(document).ready(function() {
        $("#simplify-payment-form").on("submit", function() {
            // Disable the submit button
            $("#process-payment-btn").attr("disabled", "disabled");
            // Generate a card token &amp; handle the response
            SimplifyCommerce.generateToken({
                key: "sbpb_OGY5OGZiYjEtMjMyZC00MGVlLWI0OGQtZThiNjM1OGMwYmZk",
                card: {
                    number: $("#cc-number").val(),
                    cvc: $("#cc-cvc").val(),
                    expMonth: $("#cc-exp-month").val(),
                    expYear: $("#cc-exp-year").val()
                }
            }, simplifyResponseHandler);
            // Prevent the form from submitting
            return false;
        });
    });

    function simplifyResponseHandler(data) {
        var $paymentForm = $("#simplify-payment-form");
        // Remove all previous errors
        $(".error").remove();
        // Check for errors
        if (data.error) {
            // Show any validation errors
            if (data.error.code == "validation") {
                var fieldErrors = data.error.fieldErrors,
                        fieldErrorsLength = fieldErrors.length,
                        errorList = "";
                for (var i = 0; i < fieldErrorsLength; i++) {
                    errorList += "<div class='error'>Field: '" + fieldErrors[i].field +
                            "' is invalid - " + fieldErrors[i].message + "</div>";
                }
                // Display the errors
                $paymentForm.after(errorList);
            }
            // Re-enable the submit button
            $("#process-payment-btn").removeAttr("disabled");
        } else {
            // The token contains id, last4, and card type
            var token = data["id"];
            // Insert the token into the form so it gets submitted to the server
            $paymentForm.append("<input type='hidden' name='simplifyToken' value='" + token + "' />");
            // Submit the form to the server
            $paymentForm.get(0).submit();
        }
    }
    /*]]>*/
</script>
</body>
</html>

