<html>
<head>
    <title>Bumit club</title>
</head>
<body style="background-color: #f6f6f6">
<div class="container">
    <div class="row">
        <div class="col-md-12" style="height: 140px;">&nbsp;</div>
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">
            <form action="/connect/twitter" method="POST" class="form-signin">
                <h3 class="form-signin-heading">Connect to Twitter</h3>

                <p>You aren't connected to Twitter yet. Click the button to connect this application with your
                    Twitter
                    account.</p>

                <button type="submit" id="login" value="Login" class="btn btn-primary btn-block btn-contrast" style="background-color: #30D1BE;">Connect to Twitter</button>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>